.app-layout {
  min-height: 100vh;

  background: var(--color-surface-page);

  padding-bottom: 90px;
}

.app-layout-header {
  display: flex;
  justify-content: flex-end;

  padding: 16px;
}

.app-layout-main {
  width: 100%;
}