 .login-hero {
  text-align: center;
  margin-bottom: 40px;
}

.login-hero-logo {
  font-size: 32px;
  font-weight: 800;
  letter-spacing: -0.03em;
  margin-bottom: 20px;
}

.login-hero-title {
  font-size: 36px;
  line-height: 1.18;
  font-weight: 700;
  letter-spacing: -0.03em;

  max-width: 11ch;
  margin: 0 auto 16px;
}

.login-hero-description {
  max-width: 32ch;
  margin: 0 auto;

  font-size: 16px;
  line-height: 1.6;

  color: #6b7280;
}
 