 .login-hero {
    text-align:center;
    margin-bottom:48px;
}

.login-hero-title {
    font-size:36px;
    line-height:1.18;
    font-weight:700;

    letter-spacing:-0.03em;

    max-width:11ch;
    margin:0 auto;
}
 